# env
.env
.env.*

# editors
.vscode
.zed

# node
node_modules

# build output
.next
out
dist
build

# deployments
.vercel

# local backups
.legacy

# os
.DS_Store
**/.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
